html {
  font-size: 14px;
}
:root {
    --donetick-dark: #00004e;
    --donetick-blue-deep: #000380;
    --donetick-purple: #6a40da;
    --donetick-cream: #FFF7F0;
    --donetick-dark-purple: #4b1c71;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.language-select-container .dropdown-toggle {
    appearance: none;
    background-color: #ffffff;
    width: 80px;
    border: 2px solid var(--donetick-purple-light, #e0d0f0) !important;
    border-radius: 20px;
    padding: 4px 25px 4px 10px;
    font-size: 0.9rem;
    color: var(--donetick-dark-purple);
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: right 10px center;
    transition: all 0.3s ease;
}

    .language-select-container .dropdown-toggle:hover,
    .language-select-container .show > .dropdown-toggle {
        border-color: var(--donetick-purple) !important;
        box-shadow: 0 0 8px rgba(111, 66, 193, 0.2);
        color: var(--donetick-purple) !important;
    }

    .language-select-container .dropdown-toggle:focus {
        outline: none;
        box-shadow: 0 0 8px rgba(111, 66, 193, 0.3);
    }

.language-select-container .dropdown-menu {
    background-color: var(--donetick-cream);
    color: var(--donetick-purple);
    min-width: auto !important;
    width: max-content !important;
    padding: 4px;
    border-radius: 12px;
    margin-top: 5px;
    overflow: hidden;
}

.language-select-container .dropdown-item {
    color: gray;
    font-size: 0.9rem;
}

    .language-select-container .dropdown-item:hover {
        background-color: var(--donetick-purple-light);
        color: var(--donetick-purple-light);
    }

    .language-select-container .dropdown-item.active {
        background-color: var(--donetick-cream);
        color: var(--donetick-dark-purple);
    }

.btn-donetick-primary {
    background-color: var(--donetick-purple) !important;
    color: white !important;
    border-radius: 50px;
    padding: 12px 30px;
    font-weight: 600;
    transition: all 0.3s ease;
}

    .btn-donetick-primary:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(106, 64, 218, 0.3) !important;
    }
